@import "tailwindcss";

body {
  background-color: #020617;
  color: #f8fafc;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

/* Smooth movement for aircraft markers */
/* React-Leaflet sets the position using translate3d on the icon class.
   Adding transition here makes it interpolate between updates. */
.leaflet-marker-icon.plane-marker-icon {
  transition: transform 10s linear !important;
}